.bg1 {
  background: #c0c0c0;
}

.border-custom {
  border-bottom: #ed6a5a 5px solid;
}

.fw-500 {
  font-weight: 500;
}

.navbar-brand {
  color: #000;
  font-weight: 700;
}

.btn-dropdown {
  background: #ed6a5a;
  font-weight: 500;
}
