<nav class="navbar navbar-expand-lg navbar-light border-custom">
  <div class="container">
    <a class="navbar-brand fs-4" [routerLink]="['/']" style="color: #000; font-weight: 700;">TogglReport</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn dropdown-toggle" id="navbarDarkDropdownMenuLink" type="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="background: #ED6A5A; font-weight: 500;">
            {{selectedWorkspace.name}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            <li *ngFor="let workspace of workspaces">
              <button class="dropdown-item" style="font-weight: 500;" (click)="onSelectedWorkspace(workspace)">{{workspace.name}}</button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
