<div class="mt-4">

  <form (ngSubmit)="submitThisWeek()" novalidate>

    <div *ngIf="warningMessage && warningMessage.length > 0" class="alert alert-custom" role="alert">
      {{warningMessage}}
    </div>
    <div *ngIf="errorMessage && errorMessage.length > 0" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>

    <div>
      <div class="me-3 mb-1" style="font-weight: 500; font-size: 19px;">
        Get Times Logged For
      </div>

      <button type="submit" class="btn bg-btn btn-sm me-3" style="font-weight: 500;">
        This Week
      </button>

      <button type="button" class="btn bg-btn btn-sm me-3" style="font-weight: 500;" (click)="submitLastWeek()">
        Last Week
      </button>

      <button type="button" class="btn bg-btn btn-sm me-3" style="font-weight: 500;" (click)="submitThisMonth()">
        This Month
      </button>

      <button type="button" class="btn bg-btn btn-sm me-3" style="font-weight: 500;" (click)="submitLastMonth()">
        Last Month
      </button>
    </div>
  </form>

  <div *ngIf="!isLoading && chartSettings.chartData && chartSettings.chartData.length === 0"
   style="display: block;" class="mt-4 mb-4">
    <canvas baseChart
      [datasets]="chartSettings.chartDataDefault"
      [labels]="chartSettings.chartLabelsDefault"
      [options]="chartSettings.chartOptions"
      [plugins]="chartSettings.chartPlugins"
      [legend]="chartSettings.chartLegend"
      [chartType]="chartSettings.chartType"
      [colors]="chartSettings.chartColors">
    </canvas>
  </div>

  <div *ngIf="!isLoading && chartSettings.chartData && chartSettings.chartData.length > 0" 
    style="display: block;" class="mt-4 mb-4">
    <canvas baseChart
      [datasets]="chartSettings.chartData"
      [labels]="chartSettings.chartLabels"
      [options]="chartSettings.chartOptions"
      [plugins]="chartSettings.chartPlugins"
      [legend]="chartSettings.chartLegend"
      [chartType]="chartSettings.chartType"
      [colors]="chartSettings.chartColors">
    </canvas>
  </div>

  <div *ngIf="!isLoading && users && users.length > 0" class="d-flex">
    <div *ngFor="let user of users; let i = index" class="card me-1">
      <div class="card-body" [ngClass]="'bg' + (i+1)">
        <h6 class="card-subtitle mb-3">{{user.user}}</h6>
        <p class="card-text">
          <span style="font-weight: 500;">Total Hours:</span>
          <span style="font-weight: 500; color: #414141;">&nbsp;{{user.totalHours}}</span>
        </p>
      </div>
    </div>
  </div>

  <app-is-loading [isLoading]="isLoading"></app-is-loading>

</div>
