.bg1 {
  background: #ED6A5A;
}

.bg2 {
  background: #36C9C6;
}

.bg3 {
  background: #E7E247;
}

.bg4 {
  background: #00E96D;
}

.bg5 {
  background: #5ADDED;
}

.bg-btn {
  background: #5ADDED;
}

.alert-custom {
  background: #f4a299;
}